.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ab{
background-color:#ADEFD1FF;
width: 300px;
height: 150px;
}

.card{
  width: 25%;
}
.card-container{
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.card1{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.navbar{
  width: auto;
  background-color: #00203FFF;
  height: 50px;
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  color: #ADEFD1FF;
  /* flex-wrap: wrap; */
}
.nav1{
  padding-left: 20px;
}
.editAndDelete{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.cardDetails{
  padding-left: 70px;
  padding-top: 10px;
  color: #00203FFF;
}
.nav2{
  padding-right: 10px;
  /* background-color: #ADEFD1FF; */
}
.button1{
  background-color: #ADEFD1FF;
  color: #00203FFF;
}
.button2{
  background-color:white;
  color: #00203FFF;
}
/* .button3{
  background-color: #ADEFD1FF;
  color: #00203FFF;
} */